html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  padding: 40% 12%;
}

.congrats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.fa-champagne-glasses {
  margin-bottom: 15%;
}

.matched-user {
  margin-top: 15%;
}

.btn-selection {
  margin-top: 15%;
  display: flex;
  justify-content: space-evenly;
}
